<div class="bg-dark rounded text-light text-center
     p-3 mx-auto w-50 my-5 container">
    <h2> Create Events </h2>
</div>

<div class="events-list my-5 mx-auto w-50 container">

    <form action="/store" method="post"  >
        <div class="form-group my-5">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control">
        </div>
        <div class="form-group my-5">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" class="form-control">
        </div>
         <div class="form-group my-5">
            <label for="decs">Description</label>
            <textarea type="text" name="description" id="description" class="form-control"></textarea>
        </div>

        <input type="submit" value="Create" class="btn btn-sm btn-dark">
    </form>
</div>