<div class="card text-center w-50 mx-auto " style="width: 18rem;">
    <div class="card-body  rounded">
      <h4 class="card-title"> Event Title : <strong><%= event.title %></strong> </h4>
      <h5 class="card-subtitle mb-2 text-body-secondary">Event Price : <strong><%= event.price %></strong>  </h5>
      <p class="card-text"><%= event.description %></p>
      <a href="/events" class="card-link btn btn-sm mt-5">Return to Events</a>
     
    </div>
  </div>



<div>

    

  <h1></h1>
</div>